.header {
    text-align: center;
}

.header-container-2 {
    margin: 50px 10px 10px 30px;
}

.overall-container {
    width: 100%;
    text-align: center;
}

.time-container {
    margin-top: 50px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.time-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.details-container {
    margin-top: 50px;
}

.date-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-inner {
    font-size: 30px;
    font-weight: bold;
}

.pickup {
    flex: 5;
    justify-content: right;
}

.destination {
    flex: 5;
    justify-content: left;
}

.to {
    flex: 1;
    justify-content: center;
}

.location-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

#filled-textarea {
    width: 500px;
}

.location-item {
    flex: 1;
}

.price-container {
    margin: 50px;
}

.additional-container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pax {
    flex: 2;
}

.comments {
    flex: 4;
}

.price-range {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.price {
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.button-container {
    margin-bottom: 50px;
}


