
.View-header {
    background-color: #000000;
    min-height: 60vh; /* Adjust the minimum height as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(40px + 2vmin); /* Adjust the font size as needed */
    color: white;
    justify-content: center;
  }