.card {
  box-shadow: 10px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(223, 222, 222);
  width: 80rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.grid-container {
  padding: 40px 16px;
  display: grid;
  align-items: center;
  column-gap: 10px;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

h4 {
  text-align: center;
}

.parent {
  padding: 2px 16px;    
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items to the center vertically */
  align-items: center;
  margin-top: 2%;
  width: 20%;
  padding-right: 20px;
}


.children {
  display: flex;
  justify-content: center;
}

.creator {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  text-align: center;
}

p {
  font-size: 14px;
  color: #000000;
  line-height: 150%;
  align-self: flex-start;
  margin: 10px 25px;
}

.h4 {
  text-align: center;
}

.date {
  font-weight: bold;
}

.dest {
  font-weight: bold;
}

.circle {
  height: 75px;
  width: 75px;
  background-color: #393939;
  border-radius: 50%;
  display: inline-block; 
  align-self: flex-start;
}

.vertical-line{
  width: 2px; /* Line width */
  background-color: rgb(255, 255, 255); /* Line color */
  height: 60%; /* Override in-line if you want specific height. */
  float: left; 
}