:root {
  --body-font: "Inter"
  --h1-font-size:2.25rem;
  --h2-font-size: 1.5rem; 
  --h3-font-size: 1.25rem; 
  --normal-font-size: 1rem
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem; 
}

.container {
  max-width: 1080 px; 
  padding-left: 15px; 
  padding-right: 15px; 
  margin: 0 auto;
}

.grid {
  display: grid; 
}

.section {
  padding-top: 9rem; 
  padding-bottom: 4rem; 
}



@media screen and (max-width: 1024px) {
  
  :root {--h1-font-size:1.75rem;
    --h2-font-size: 1.25rem; 
    --h3-font-size: 1rem; 
    --normal-font-size: 0.9rem
    --small-font-size: 0.81rem;
    --smaller-font-size: 0.75rem; }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}


/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}